body {
  min-height: 100%vh;
  min-width: 100%vw;
  color: rgb(14, 4, 4);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
  text-align: justify;
  margin: 10px;
  padding: 5px;
}

h1 {
  text-align: center;
  font-size: 36px;
  color: blueviolet;
}

h2 {
  color:blueviolet;
  margin: 10px;
}

h3 {
  margin: 20px 10px;
  padding: auto;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
  max-width: 400px;
  min-width: 150px;
  border-radius: 5px;
}

figcaption {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

ul li {
  margin-bottom: 5px;
  padding: 5px;
}

a {
  color: blueviolet;
  text-decoration: none;
}

.video-joy {
  /* display: block; */
  margin: 0 auto;
  width: 500px;
  /* text-align: center; */
}